<ul class="week-list">
  {{#each day in filtered itemController="day.index"}}
    <li>
      {{#link-to "day" day class=day.status}}
        <div class="day-info">
          <div class="day">
            {{format-date day.date format="dddd"}}
          </div>
          <div class="routines">
            {{#if day.routines.length}}
              {{day.listRoutines}}
            {{else}}
              Rest Day
            {{/if}}
          </div>
        </div>
        <i class="fa fa-lg fa-angle-right"></i>
      {{/link-to}}
    </li>
  {{/each}}
</ul>
<section class="flex-row">
  <button class="button" {{action "togglePastDays"}}>
    {{#unless showPastDays}}
      Show past days
    {{else}}
      Hide past days
    {{/unless}}
  </button>
</section>

{{outlet}}
